.game-buttons {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.move-buttons {
    display: grid;
}
.up-button{
    grid-row: 1;
    grid-column: 2;
}
.right-button{
    grid-row: 2;
    grid-column: 3;
}
.down-button{
    grid-row: 3;
    grid-column: 2;
}
.left-button{
    grid-row: 2;
    grid-column: 1;
}
button{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-shadow: black 1px 1px 10px;
    border-radius: 25px;
    background: linear-gradient(0deg, #008000 0, #7CFC00 100%);
    box-shadow: darkgreen 0 7px 1px;
}

button:hover{
    background: linear-gradient(0deg, #109010 0, #8CFF10 100%);
}
button:active{
    position: relative;
    top: 5px;
    background: linear-gradient(0deg, #159515 0, #90FF15 100%);
    box-shadow: darkgreen 0 2px;
}
.pause-button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
@media (orientation: landscape) {
    .game-buttons{
        width: 100vw;
        justify-content: space-between;
        position: absolute;
        bottom: 70px;
    }
    .pause-button{
        margin-left: 7%;
    }
    .move-buttons {
        margin-right: 7%;
    }
}