*{
    margin: 0;
    border: 0;
    padding: 0;
}
.form-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-form-content{
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1, h4, button {
    color: white;
}
h1{
    margin-bottom: 15px;
    font-size: 40px;
    text-shadow: black 5px 5px 15px;
}
h4{
    margin-bottom: 3px;
    text-shadow: black 3px 3px 10px;
 }
.username-input{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 70%;
    max-width: 800px;
    font-size: 25px;
    padding: 3px 15px;
    border: 0;
    border-bottom: darkgreen 2px solid;
    border-radius: 20px;
}
.username-input:focus-visible{
    margin-top: 2px;
    outline: 0;
    border-bottom: darkgreen 5px solid;
}
.start-button{
    background: linear-gradient(0deg, #008000 0, #7CFC00 100%);
    width: 70%;
    max-width: 400px;
    font-size: 35px;
    text-shadow: black 3px 3px 10px;
    padding: 3px 15px;
    border: 0;
    border-bottom: darkgreen 7px solid;
    border-radius: 20px;
}
.start-button:hover{
    background: linear-gradient(0deg, #109010 0, #8CFF10 100%);
}
.start-button:active{
    margin-top: 5px;
    background: linear-gradient(0deg, #159515 0, #90FF15 100%);
    border-bottom: darkgreen 2px solid;
}